HOME                    = .
RANDFILE                = $ENV::HOME/.rnd

[ req ]
default_bits            = 2048
default_md              = sha256
default_keyfile         = privkey.pem
distinguished_name      = req_distinguished_name
prompt                  = no
string_mask             = utf8only
req_extensions          = v3_req
email_in_dn             = no

[ req_distinguished_name ]
countryName                     = Country Name (2 letter code)
stateOrProvinceName             = State or Province Name
localityName                    = Locality Name
organizationName                = Organization Name
commonName                      = ambari007-ha.adsre.com
emailAddress                    = pravin@acceldata.io

# Optionally, specify some defaults.
countryName_default             = US
stateOrProvinceName_default     = LA
localityName_default            = PA
0.organizationName_default      = SUPPORT
organizationalUnitName_default  = ACCELDATA
commonName_default              = ambari007-ha.adsre.com
emailAddress_default            = pravin@acceldata.io

[ v3_req ]
basicConstraints = CA:FALSE
keyUsage = digitalSignature, keyEncipherment
subjectAltName = @alt_names

[ alt_names ]
DNS.1 = "ambari007-ha.adsre.com"
DNS.2 = "*.adsre.com"

